/*================
    CSS Reset 
================*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*================
    Body
================*/

body {
    font-family:Arial, Helvetica ,sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

/*================
    Header
================*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

nav ul { 
    display: flex;
    gap: 20px;
    list-style: none;
}

/*================
    Hero
================*/

.hero {
    padding: 100px 40px;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    max-width: 700px;
    margin: 0 auto 40px;
    color: #555;
}

.hero form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    min-width: 180px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font: inherit;
}

.hero form button {
    padding: 12px 24px;
    background-color: #ff5a5f;
    color: white;
    border: none;
    border-radius: 8px;
    font: inherit;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero form button:hover {
    background-color: #e14b50;
}